<!-- products section -->

<section id="product-section" class="mt-5">
  <div class="container">
    <div class="container mt-3">
      <div class="custom-search input-group">
        <input class="form-control" type="search" placeholder="Search..."
          [(ngModel)]="SearchTrim" (ngModelChange)="SearchFilter()"
          aria-label="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </div>
    </div>
    <h2 class="text-center">products</h2>
    <div class="row custom-products">
      <div class="col-md-3 mb-4" *ngFor="let product of FilteredProducts">
        <div class="card custom-card">
          <div role="button" [routerLink]="['/product-details', product.id]">
            <img [src]="product.image" class="card-img-top"
              alt="{{ product.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.title | truncateWords}}</h5>
              <div class="pricing d-flex justify-content-between mt-5">
                <p class="card-text price-color"><strong>${{ product.price
                    }}</strong></p>
                <p class="card-text"><i class="bi bi-star-fill golden-star"></i>
                  {{ product.rating.rate }}</p>
              </div>
            </div>
          </div>
          <app-addtocart [product]="product"></app-addtocart>
        </div>
      </div>
    </div>
  </div>
</section>
