<!-- slider -->

<section class="mt-5 d-flex justify-content-center">
  <div id="carouselExampleIndicators" class="carousel slide"
    data-bs-ride="carousel" style="width: 1400px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/pexels-karolina-grabowska-5632396.jpg"
          class="d-block w-100 rounded carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/pexels-karolina-grabowska-5632398.jpg"
          class="d-block w-100 rounded carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/pexels-n-voitkevich-6214383 (1).jpg"
          class="d-block w-100 rounded carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/pexels-tima-miroshnichenko-6694576.jpg"
          class="d-block w-100 rounded carousel-img" alt="...">
      </div>
    </div>

    <button class="carousel-control-prev" type="button"
      data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button"
      data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- best seller products -->

<section id="product-section" class="custom-sales">
  <div class="container">
    <h2 class="text-center">Best Seller</h2>
    <div class="row mt-5">
      <div class="col-md-3 mb-4"
        *ngFor="let product of products | slice: 0 : 8">
        <div class="card custom-card">
          <div role="button" [routerLink]="['/product-details', product.id]">
            <img [src]="product.image" class="card-img-top"
              alt="{{ product.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.title | truncateWords}}</h5>
              <div class="pricing d-flex justify-content-between mt-5">
                <p class="card-text price-color"><strong>${{ product.price
                    }}</strong></p>
                <p class="card-text"><i class="bi bi-star-fill golden-star"></i>
                  {{ product.rating.rate }}</p>
              </div>
            </div>
          </div>
          <app-addtocart [product]="product"></app-addtocart>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- subscribe section -->

<section class="custom-subscribe">
  <div class="container my-5">
    <div class="card text-center p-4 shadow">
      <h2 class="mb-3">Subscribe to get offers</h2>
      <p class="mb-4">Join our newsletter to receive the latest deals!</p>
      <form class="row g-2 justify-content-center">
        <div class="col-md-6">
          <input type="email" class="form-control"
            placeholder="Enter your email" required>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</section>
