<nav class="both-nav navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand">
      <img class="logo" src="/assets/images/store-2017.svg"
        class="img-fulid w-25 h-25" routerLink="/home">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"
            routerLinkActive="active-link">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup"
            routerLinkActive="active-link">signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
